<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style></style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<!-- ↓ contenteditable may help -->

<body contenteditable="true" class="m-auto text-center m-5-auto" style="width: 960px;">
  <p class="mb-10 text-4xl">Bill</p>
  <div class="flex flex-nowrap">
    <div class="flex-grow mb-10">
      <p class="mb-10 text-left">ATTN: Sony India Pvt Ltd.</p>
      <p class="mb-10 text-left">
        Thanks for doing business with us.<br />
        The bill is as follows.<br />
        Kindly pay to the bank account noted at bottom.<br />
      </p>

      <p class="p-4 mb-5 text-2xl text-left border-2 border-black">TOTAL AMOUNT: JPY 44,000.-</p>

      <p class="text-left">DELIVERED ON: 2021/12/01</p>
      <p class="text-left">DELIVERED TO: Taj Mahal</p>
      <p class="text-left">PAYMENT DUE DATE: 2021/12/End-date</p>

    </div>

    <div class="flex-grow">
      <p class="text-center">Bill No. GAL5-12345</p>
      <hr />
      <p class="mb-10 text-center">Created: 2021/11/01</p>
      <p class="text-center">A-18, Mohan Co-operative Industrial Estate, Mathura Road</p>
      <p class="text-center">Mars Talent Company Ltd.</p>
      <p class="text-center">TEL: 052-123-456</p>

      <div class="flex justify-end mt-5 mb-10">
        <div class="w-40">
          <p class="w-full p-1 border-2 border-black">DRAFTED BY</p>
          <img width="100%" class="border-2 border-black" src="https://ui-avatars.com/api/?rounded=true&color=ff0000">
        </div>
        <div class="w-40">
          <p class="w-full p-1 border-2 border-black ">APPROVED BY</p>
          <img width="100%" class="border-2 border-black" src="https://ui-avatars.com/api/?rounded=true&color=ff0000">
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between border-2 border-black flex-nowrap">
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-900 border-dashed">NO</p>
      <p class="border border-gray-900 border-dashed">1</p>
      <p class="border border-gray-900 border-dashed">2</p>
      <p class="border border-gray-900 border-dashed">3</p>
      <p class="border border-gray-900 border-dashed">4</p>
      <p class="border border-gray-900 border-dashed">5</p>
    </div>
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-700 border-dashed">GIG TITLE</p>
      <p class="border border-gray-700 border-dashed">Late night movie</p>
      <p class="border border-gray-700 border-dashed">World interview</p>
      <p class="border border-gray-700 border-dashed">Photo shoot</p>
      <p class="border border-gray-700 border-dashed">Movie - Matrix 6</p>
      <p class="border border-gray-700 border-dashed">Dance festival</p>
      <p class="border border-gray-700 border-dashed">TOTAL BEFORE TAX</p>
      <p class="border border-gray-700 border-dashed">TAX</p>
      <p class="border border-gray-700 border-dashed">TOTAL INCL TAX</p>
    </div>
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-800 border-dashed">QTY</p>
      <p class="border border-gray-800 border-dashed">1</p>
      <p class="border border-gray-800 border-dashed">1</p>
      <p class="border border-gray-800 border-dashed">1</p>
      <p class="border border-gray-800 border-dashed">1</p>
      <p class="border border-gray-800 border-dashed">1</p>
    </div>
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-700 border-dashed">UNITS</p>
      <p class="border border-gray-700 border-dashed">hour</p>
      <p class="border border-gray-700 border-dashed">session</p>
      <p class="border border-gray-700 border-dashed">hour</p>
      <p class="border border-gray-700 border-dashed">session</p>
      <p class="border border-gray-700 border-dashed">session</p>
    </div>
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-700 border-dashed">PER UNIT</p>
      <p class="border border-gray-700 border-dashed">100</p>
      <p class="border border-gray-700 border-dashed">200</p>
      <p class="border border-gray-700 border-dashed">300</p>
      <p class="border border-gray-700 border-dashed">400</p>
      <p class="border border-gray-700 border-dashed">500</p>
    </div>
    <div class="w-full border-2 border-dashed border-gray-50">
      <p class="border border-gray-700 border-dashed">SUM</p>
      <p class="border border-gray-700 border-dashed">100</p>
      <p class="border border-gray-700 border-dashed">400</p>
      <p class="border border-gray-700 border-dashed">300</p>
      <p class="border border-gray-700 border-dashed">400</p>
      <p class="border border-gray-700 border-dashed">500</p>
      <p class="border border-gray-700 border-dashed">40000</p>
      <p class="border border-gray-700 border-dashed">4000</p>
      <p class="border border-gray-700 border-dashed">44000</p>
    </div>
  </div>
</body>

</html>